Avalon.Utility/Security/App_Config/ConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Nd.Web.Security.Cryptography" elementFormDefault="qualified" targetNamespace="urn:Nd.Web.Security.Cryptography" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cryptographyManagerSection" type="tns:Nd.Web.Security.Cryptography.Configuration.CryptographyManagerSectionCT" />
	<xs:complexType name="Nd.Web.Security.Cryptography.Configuration.CryptographyManagerSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="iV64" type="tns:Nd.Web.Security.Cryptography.Configuration.IV64CT">
				<xs:annotation>
					<xs:documentation>The IV64.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="cryptographyKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CryptographyKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cryptographyVector" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CryptographyVector.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Nd.Web.Security.Cryptography.Configuration.IV64CT">
		<xs:attribute name="byte1" use="required">
			<xs:annotation>
				<xs:documentation>The Byte1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byte2" use="required">
			<xs:annotation>
				<xs:documentation>The Byte2.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byte3" use="required">
			<xs:annotation>
				<xs:documentation>The Byte3.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byte4" use="required">
			<xs:annotation>
				<xs:documentation>The Byte4.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byte5" use="required">
			<xs:annotation>
				<xs:documentation>The Byte5.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byte6" use="required">
			<xs:annotation>
				<xs:documentation>The Byte6.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byte7" use="required">
			<xs:annotation>
				<xs:documentation>The Byte7.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byte8" use="required">
			<xs:annotation>
				<xs:documentation>The Byte8.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
